script(type='text/javascript', src='./js/cryptojs/rollups/tripledes.js')
script(type='text/javascript', src='./js/cryptojs/rollups/md5.js')
script(type='text/javascript', src='./js/cryptojs/components/enc-base64.js')
script(type='text/javascript', src='./js/cryptojs/components/mode-cfb.js')
script(type='text/javascript', src='./js/cryptojs/components/pad-nopadding.js')

script(type='text/javascript', src='./js/jquery-1.11.2.min.js')
script(type='text/javascript', src='./js/bootstrap.js')
script(type='text/javascript', src='./js/site.js')
script(type='text/javascript', src='./js/md5.js')
