doctype html
html(lang="en")
    head
        include ./includes/strapcss.jade
    body
        .container
            .row
                .col-md-10
                .col-md-2
                    a(href="./user_login.html", target="_blank") 用户登录
                    |&nbsp;&nbsp;&nbsp;&nbsp;
                    a(href="./admin_sys_login.html", target="_blank") 管理员登录
        include ./includes/strap.jade