doctype html
html(lang="en")
    head
        include ../includes/strapcss.jade
    body
        .container
            button.btn.btn-default(href="#", id="btnSave") 下载
        include ../includes/strap.jade
        script(type='text/javascript', src='./js/' + jadePath + '.js')