.container-fluid(style="padding-left:0px")
    .btn-group
        p 管理后台首页
script(type='text/javascript', src='./js/' + jadePath + '.js')
script(type='text/javascript')
    |CurSite.IMPL['#{id}'] = new CurSite.COMP.AdminBookIndex({id:'#{id}', parent:'#{parent}'});