doctype html
html(lang="en")
    head
        include ../includes/local.jade
        script(type='text/javascript').
            require(["anim"],function(Anim){
                // 初始化动画实例
                var animIns = new Anim('#anim-el',
                    //动画目标样式
                    {
                        'background-color':'#fcc',
                        'border-width':'5px'
                    },
                    {
                        duration : 5,            // 动画时长，秒
                        easing : 'bounceOut',     // 动画特效
                        complete : function(){   // 动画结束的回调
                            alert('动画结束');
                        }
                    });
                //开始执行动画
                animIns.run();
            });
    body
        .mainifo
            input(type="button", id="test", value="测试")
        #anim-el 测试动画