doctype html
html(lang="en")
    head
        include ../includes/strapcss.jade
    body
        div.btn-group(data-toggle="buttons")
            label.btn.btn-primary.active
                input(type="checkbox", autocomplete="off", checked)
                |Checkbox 1 (pre-checked)
            label.btn.btn-primary
                input(type="checkbox", autocomplete="off")
                |Checkbox 2
            label.btn.btn-primary
                input(type="checkbox", autocomplete="off")
                |Checkbox 3
        include ../includes/strap.jade
        script(type='text/javascript').
            //
































