doctype html
html(lang="en")
    head
        include ../includes/strapcss.jade
    body
        .container 这是一个空的页面
        include ../includes/strap.jade
        script(type='text/javascript').
            //
































