.container-fluid(style="padding-left:0px")
    .panel.panel-default
        .panel-body
            p newfolder.
script(type='text/javascript', src='./js/' + jadePath + '.js')
script(type='text/javascript')
    |CurSite.IMPL['#{id}'] = new CurSite.COMP.UserFileNewFolder({id:'#{id}', parent:'#{parent}'});